<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">    
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <p>This site was created by Omkar Vaidya. It uses data from mapbox.com and darksky.net!</p>
        <img class = "portrait" src="/img/me.jpeg">
        {{!-- <p>Created By: {{name}}</p> --}}
    </div>
    {{>footer}}
</body>


</html>